<%- include('../layout/header.ejs') %>
<%- include('../layout/category/banner.ejs') %>

	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <%- include('../layout/category/browse-categories.ejs') %> 
          <%- include('../layout/category/product-filters.ejs') %> 
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <%- include('../layout/category/filter-bar.ejs') %> 
          <%- include('../layout/category/best-seller.ejs') %> 
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  
	
  <%- include('../layout/category/top-product.ejs') %> 

  <%- include('../layout/subscribe.ejs') %>

  <%- include('../layout/footer.ejs') %>
