<%- include('../layout/header.ejs') %>
  <main class="site-main">
    <%- include('../layout/homePage/hero-banner.ejs') %>
    <%- include('../layout/homePage/hero-carousel.ejs') %>
    <%- include('../layout/homePage/trending-product.ejs') %>
    <%- include('../layout/homePage/offer-section.ejs') %>
    <%- include('../layout/homePage/selling-carousel.ejs') %>
    <%- include('../layout/homePage/blog-section.ejs') %>
    <%- include('../layout/subscribe.ejs') %>
  </main>
  <%- include('../layout/footer.ejs') %>